
{% extends 'doors/base_new.html' %}
{% load static %}


{% block content %}
<table class="table cart_list" id="cart_list">
  <thead>
    <tr>
      <th scope="col">Фото</th>
      <th scope="col">Товар</th>
      <th scope="col">Кол-во</th>
      <th scope="col">Цена</th>
    </tr>
  </thead>
  <tbody>
  {% for cart in cart_cart %}
    <tr>
      <td scope="row">
        {% for value in  cart.product.pictures %}
        <img src="{{value.small}}">
        {% endfor %}
      </td>
      <td>{{cart.product.title}}</td>
      <td>{{cart.quantity}}</td>
      <td>{{cart.product.price}}</td>
    </tr>
{% endfor %}
  <tfoot>
<tr>
  <th>Товары ({{ cart|length }})</th>

</tr>
<tr>
  <th>Итог: {{cart.get_total_price}} р.</th>
</tr>
<tr>
  <th><a href="#" class="button-pay">Перейти к оплате</a></th>
</tr>
<tr>
  <th><a href="{% url 'cart:cart_clear' %}" class="button-pay">Очистить корзину</a></th>
</tr>
</tfoot>
  </tbody>

</table>


{% endblock %}