<div class="filter-doors">
<form class="row g-3" action="." method="get">
    <div class="col-md-3">
        <select class="form-select" id="validationCustom04" name="type">
<!--            <option value="&#45;&#45;">Тип</option>-->
                {% for x in form_filter.type %}
                {{x}}
                {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-select" id="validationCustom04" name="lock">
<!--            <option value="&#45;&#45;">Замки</option>-->
                {% for x in form_filter.lock %}
                {{x}}
                {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-select" id="validationCustom04" name="color_inside">
<!--            <option value="&#45;&#45;">Цвет изнутри</option>-->
                {% for x in form_filter.color_inside %}
                {{x}}
                {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-select" id="validationCustom04"  name="style">
<!--            <option value="&#45;&#45;">Стиль</option>-->
                {% for x in form_filter.style %}
                {{x}}
                {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-select" id="validationCustom04" name="features">
<!--            <option value="&#45;&#45;">Особенности</option>-->
                {% for x in form_filter.features %}
                {{x}}
                {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-select" id="validationCustom04" name="color_outside">
<!--            <option value="&#45;&#45;">Цвет снаружи</option>-->
                {% for x in form_filter.color_outside %}
                {{x}}
                {% endfor %}
        </select>

    </div>
    <div class="col-md-3">
        <select class="form-select" id="validationCustom04" name="price_scale" >
<!--            <option value="&#45;&#45;">По умолчанию</option>-->
                {% for x in form_filter.price_scale %}
                {{x}}
                {% endfor %}
        </select>
        <div class="invalid-feedback">
            Please select a valid state.
        </div>
    </div>
<!--    <div class="col-12">-->
        <div class="col-md-3">

        <button class="btn btn-primary" type="submit">Фильтровать</button>
    </div>
</form>
</div>