<div class="filter-doors">
<form class="row g-3" action="." method="get">

    <div class="col-md-3">
        <select class="form-select" id="validationCustom04" name="color_pl">
                {% for x in form_filter.color_pl %}
                {{x}}
                {% endfor %}
        </select>
    </div>
    <div class="col-md-3">
        <select class="form-select" id="validationCustom04" name="status_pl">
                {% for x in form_filter.status_pl %}
                {{x}}
                {% endfor %}
        </select>
    </div>

    <div class="col-md-3">
        <select class="form-select" id="validationCustom04" name="price_scale_plintus" >
                {% for x in form_filter.price_scale_plintus %}
                {{x}}
                {% endfor %}
        </select>
        <div class="invalid-feedback">
            Please select a valid state.
        </div>
    </div>
        <div class="col-md-3">

        <button class="btn btn-primary" type="submit">Фильтровать</button>
    </div>
</form>
    </div>