

/*карусель похожих товаров
.img-wrapper{
    max-width:100%;
    height:13em;
    display:flex;
    justify-content:center;
    align-items:flex-start;
}
img {
    max-width:100%;
    max-height:100%;
}
@media screen and (min-width:576px) {
    .block-content  .carousel-inner{
        display:flex;
    }
    .block-content .carousel-item{
        display:block;
        margin-right:0;
        flex:0 0 calc(100%/3);
    }
}
.block-content ..carousel-inner{
    padding:1em;
}

.block-content .card{
    margin:0 .5em
}
Конец карусель похожих товаров*/
html {
    font-size: 16px;

}

body{
    display:flex;
    flex-direction:column;
    /*font-family:font-family-base;*/
    /*font-size:font-size-base;*/
    font-family:   "Rubik", serif;  /*шрифт который мы подключили отдельно */
    /*font-size: 16px;*/
    font-optical-sizing: auto;
    font-variation-settings:"wdth" 100;
    font-style: normal;
    font-weight:100;
    font-height:line-height-base;
    color:#000;
    background-color:#fff; /*#fff*/
    min-width:320px; /*минимальная оптимальная ширина экрана */
    overflow-x: hidden;
    min-height:100vh;
    margin:0;


}

/* Добавляем адаптивность для всех картинок, чтобы они адаптировались под тот блок где они помещены*/
/* это делается дыумя параметрами */
img {
    max-width: 100%;
    height:auto;
}

/* Добавляем отступы для всех секций  50px сверху отступ,а слева и справа 0*/
/* у нас будет контентная часть  которая будет помешена в секции и для того что бы мы для каждой секции не задавали отступы */
section {
    padding: 50px 0; /* устан-ет внутр. отступы внутри эл-та*/
}
 /* Настройка ссылок */
 a{
    color:#111;
 }
/* при наведении */
 a:hover {
    color:#555;
 }
 /* Начало стили для навигац панели */


/* настройка горизонтальной панели */
 .navbar-bok .navbar .container-fluid{
    display:flex;
    justify-content:space-between;
    /*margin-left:80%;*/

 }

.navbar-nav .dropdown-menu{
    left:auto;
    right:0;
}


/*
 .navbar-bok .navbar-expand-lg .navbar-collapse .navbar-nav{
    display:flex;
    justify-content:flex-end;
    margin-left:80%;

 }
 */
 .bg-body-tertiary .navbar-nav .nav-link {
    color:#111;
    /*font-weight: 500;*/
    text-transform: uppercase;
 }

 .top-menu li a::after { /*after псевдо эл-т позвол. добавить контент после выбронного эл-та*/
    content:'';
    display: block;
    width:100%;
    background-color:#111;
    height:1px;
    transition:all .3s; /*плавность*/
    transform: scale(0); /* скрываем контант чтобы его не было видно */

 }

 /* При наведении transform меняет свое значение и повляется после наведения*/
.top-menu li a:hover::after {
    transform:scale(1);
}

.modal-body img {
    width:50px;
}
 /*  Конец стили для навигац панели */

/* Настройка боковой паели навигации */
.navbar-vertical-2 .container-fluid,.navbar-vertical-2 .navbar-collapse,.navbar-vertical-2 .navbar-nav {
    flex-direction:column;
}
.navbar-vertical-2 {
    width:25%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);

}

/* Настройка боковой паели навигации */

.block-content {
    display:flex;
    flex-direction:row;
    flex-grow: 1;/* Чтобы занимал оставшееся пространство до футера */
}

/*-------------------------------------------------------------------------------------------------------*/
/*Начало стилей шаблона index */
.block-content .cardc {
    width:75%;
    display:flex;
    flex-direction:column;
   /* flex-wrap:wrap; /*переносит элем-ты на новую строку*/
    /*justify-content:space-evenly;*/
    margin:10px;
}
.block-content .cardc .card-all {
    /*width:75%;*/
    display:flex;
    flex-direction:row;
    flex-wrap:wrap; /*переносит элем-ты на новую строку*/
    justify-content:space-evenly;/*space-evenly*/
}
.block-content .cardc-top {
/*    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    /*flex:0 0 calc(100%/4);
    background-color:red;
    height:10% */
    height:10%;
}
.block-content .cardc-top img {
    display:flex;
    height:100%;
    /*justify-content:center;
    align-items:center;*/
}
.block-content .cardc-top .cardc-image {
    display:flex;
    flex-direction:row;
    justify-content:center;
    /*overflow: hidden;    /*не позволяет картинке выйти за рамки конетенера cardc-top*/
}
.block-content .cardc-top .cardc-name{
    display:flex;
    justify-content:center;
}
.block-content .cardc-top .cardc-color{
    display:flex;
    justify-content:center;
    opacity: .6;
    font-size:80%;
}
.block-content .cardc-top .cardc-name a {
    text-decoration:none;
    font-weight:500;
}
.block-content .cardc-top .cardc-price{
    display:flex;
    justify-content:center;
    text-decoration:none;
    font-weight:500;
    /*height:0%;*/
}
.block-content .price{
    font-size:120%;
}
/*-------------------------------------------------------------------------------------------------------*/
/*Конец стилей шаблона index */

/*-------------------------------------------------------------------------------------------------------*/
/*начало нового стилей шаблона index */
.block-content .kard-all{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
    width:100%;
}

.block-content .kard{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex: 0 0 calc(100%/4);
    margin-top:3%;
    margin-bottom:3%;
    background-color:


}
.block-content .kard-name a{
    text-decoration:none;
    font-weight:400;
}
.block-content .kard-color{
    font-size:80%;
    opacity: .6;
    margin-bottom:2%;
}
.block-content .kard-image{
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:auto;
    width:45%;
    height:70%;
}
.block-content .kard-price{
    font-size:120%;
    text-decoration:none;
    font-weight:400;

}
.block-content .kard-group-price{
    display:flex;
    margin-top:5%;
}
/*-------------------------------------------------------------------------------------------------------*/
/*конец нового стилей шаблона index */

/*Начало стилей в мобильном разрешении*/
/*-------------------------------------------------------------------------------------------------*/
@media(max-width:480px){
    .block-content .kard{
    display:flex;
    flex-direction:column;
    align-items:center;
    flex: 0 0 calc(100%/2);
    margin-top:3%;
    margin-bottom:3%;
    background-color:green;
    }


    .block-content {
        display:flex;
        flex-direction:column;
        }
}


/*Конец стилей в мобильном разрешении*/
/*-------------------------------------------------------------------------------------------------*/


#middle-category{
    padding-left:5%;
}

#model-category{
    padding-left:5%;
}

/* Описание свойтсва страницы детализации товара */

.block-content .detail-block {
    display:flex;
    flex-direction: column;
    width:100%;
    }

.block-content .detail-block .list-description {
    margin-top:4%;
    margin-bottom:4%;
}

.block-content .detail-block .list-description a{
    text-decoration:None;
    font-style: normal;
    font-weight:500;
}

.block-content .detail-block .title-description{
    font-style;
    font-weight:500;
}

.block-content .detail-block .main-description {
    margin-bottom:2%;
}

.block-content .detail-img-option{
    display:flex;
    justify-content:space-evenly;
}

.block-content .detail-block .detail-option .price {
    font-size:120%;
    font-weight:500;
}
.block-content .detail-block .detail-option .price  i {
    font-size:70%;
    }
.block-content .detail-block .detail-option .list_size {
    display:flex;
    justify-content:flex-start;
    gap:1%;

}
.block-content .detail-option .list-size-obj a {
    text-decoration:none;
    margin-bottom: 0px;
}

.block-content .detail-block input{
    background: transparent;
    border-style :double;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius:10%;
    height:100%
}
/*.block-content .detail-block .complectation-table input{
    background: transparent;
    border-style :double;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius:10%;
    height:40%
}*/

.block-content .detail-block .flex_table_main_complectation-table{
    display:flex;
    flex-direction:column;
    justify-content:space-between;


}

.block-content .detail-block .table_body_row-complectation{
    display:flex;
    flex-direction:row;
    margin-bottom: 2%;

}

.block-content .detail-block .table-body-cell{
    width:100%;
    flex:1 1 auto; /*  параметр для выравнивания ячеек чтобы не плыли */
}

block-content  {
    background-color:red;
}

.block-content .detail-block .table-body-cell button {
    background: transparent;
    border-style :double;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius:10%;

}


 .block-content .list-description{
    display:flex;
    flex-direction:row;
    justify-content:center;
    gap:2%;
 }

.block-content .detail-option  .list-size-obj  {
    display:flex;
    justify-content:center;
    border-style :double;
    border: 1px solid rgba(0, 0, 0, 0.3);
    /*border-color:black;*/
    border-radius:10%;
    height:100%;


}
.block-content .detail-option .list_size{
    display:flex;
    height:12%;
}

.block-content .detail-option .button-buy{
        height:10%;
}

.block-content .detail-option  .list-size-obj a{
    text-align:center;
    justify-content:center;



}

.block-content .detail-img-option .detail-img img {
    height:430px;
    width:auto;
    padding:1%;

}
.block-content .detail-img-option .detail-img {
    display:flex;


}

.block-content .detail-option{
    display:flex;
    flex-direction:column;
    padding-left:10px;
    height:100%;
    }
.block-content .title_color-vender_cod{
    width:400px;
    display:flex;
    justify-content:space-between;
    }
.block-content .list-description{
    display:flex;
}


.block-content .top-name-cetegory{
    display:flex;
    justify-content:space-around;
    margin-top:5%;
}

.block-content .detail-option .title-obj{
    font-weight:bold;
    font-size: 20px;
    padding-bottom:20px;
}
.block-content .detail-option,.block-content .title_color, .block-content title_color-vender_cod, .block-content .list_color, .block-content .list-size-obj , .block-content .price {
    padding-bottom:20px;
}
.block-content .label-price {
    opacity: .6;
}

.block-content  .vander-cod-label, .block-content .label-color , .block-content .label-size , .block-content .top-name-cetegory {
    opacity: .6;
}

.block-content .vander-cod-label{
    display:flex;
}


.block-content .detail-block{
    padding-left:50px;
    padding-top:50px;
    padding-right:50px;
}
#list_colors_detail {
    height:30px;
}

/* Конец описания свойств страницы деталицазии */

/* Cтилизация корзины */
#cart_list img {
    height:80px;
    weight:auto;

}

/* Конец стилизации корзины */
 /* Стилизация футера*/

#footer-main{
    background-color:grey;
    display:flex;
    flex-direction:row;
    /*justify-content:space-around;*/
    align-items:center;
    justify-content:space-evenly;
    position:relative;
    height:10vh;
}

.footer-main a {
    text-decoration:none;
}

/*Конец стилизации футера*/

/*Стилизация формы замера*/
.all-form-measure .form-control {
    width:60%;
}
/*Стилизация формы замера*/

/*Стиль списка в горизонтальной панели*/

.nav-list {
    display:flex;
    align-items:center;
    justify-content:space-around;
    text-decoration:none;
    width:70vh;

}
.nav-list a {
    text-decoration:none;
    font-style: normal;
    font-weight:500;

}

/*Стиль списка в горизонтальной панели*/

