{% extends 'doors/base_new.html' %}
{% load static %}

{% block content %}
<div class="detail-block">
    <div class="detail-img-option">
        <div class="detail-img">
            {% for x in detail_obj.pictures %}
            <figure class="figure">
                <img class="figure-img img-fluid rounded" src="{{x.large}}">
            </figure>
            {% endfor %}
        </div>
        <div class="detail-option">
            <div class="title-obj">{{detail_obj.title}}</div>
            <div class="title_color-vender_cod">
                <div class="title_color">{{color_obj.title}}</div>
                <div class="vander-cod-label">
                    <div class="vender-cod-label">Артикул: </div>
                    <div class="vender_cod">{{vendor_code}}</div>
                </div>
            </div>
            <div class="label-color">Цвет</div>
            <div class="list_color">
                {% for y in colors %}
                <figure class="figure">
                    <a href="{% url 'doors:detail_card_with_color_id' detail_obj.id  y.id %}" class="color-a">
                        <img class="figure-img img-fluid rounded" id="list_colors_detail"  src="{{y.picture}}">
                    </a>
                </figure>
                {% endfor %}
            </div>
            <div class="label-size">Размер полотна</div>
            <div class="list_size">
                {% for z in detail_obj.options %}
                <div class="list-size-obj">
                    <a href="{% url 'doors:detail_card_with_size' detail_obj.id  z.title %}" class="size-buttom">{{z.title}}</a>
                </div>
                {% endfor %}
            </div>
            <div class="label-price">Цена:</div>
            <div class="price">{{detail_obj.price}}</div>
            <div class="button-buy"><button class="detail">Купить</button></div>
        </div>
    </div>
    <div class="list-description">
        <div class="description"><a href="{% url 'doors:l_description' detail_obj.id 1 %}" class="url_description">Описание</a></div>
        <div class="complection"><a href="{% url 'doors:l_description' detail_obj.id  2 %}" class="url_complectetion">Комплектация</a></div>
            {% if detail_obj.accessory_properties %}
                <div class="metal-acsesory"><a href="{% url 'doors:l_description' detail_obj.id 3 %}" class="metal-acsesory">Фурнитура</a></div>
            {% endif %}
        <div class="documents"></div>
        <div class="where-by">Где купить?</div>
    </div>
    {% if description_number == 1 %}
        {% for key, values in proper_dict.items %}
            <div class="main-description">
                <div class="title-description">{{key}}:</div>
                <div class="body-description">{{values}}</div>
            </div>
        {% endfor %}

    {% endif %}

    {% if description_number == 3 %}
        {% for keys, value in metal_acsessory.items %}
            <div class="metal_acsessory">
                <div class="title-metal_acsessory">{{keys}}:</div>
                <div class="body-metal_acsessory">{{value}}</div>
            </div>
        {% endfor %}
    {% endif %}

    {% if description_number == 2 %}
    {% for data in complectation %}
        <div class="complectation-table">
            <table class="complectation">
                <tbody class="body-complectation">
                    <tr>
                        <td>{{data.title}}</td>
                        <td>{{data.vendor_code}}</td>
                            {% for picture in data.pictures %}
                                <td>{{picture.small}}</td>
                            {% endfor %}
                        <td>{{data.price}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}