
{% extends 'doors/base_new.html' %}
{% load static %}


{% block content %}
<!--НАЧАЛО ФИЛЬТР ДЛЯ ВХОДНЫХ ДВЕРЕЙ-->
    {% if  category == 24 %}
    {% include 'doors/filters/filter_outdoors.html' %}
    {% endif %}
<!--КОНЕЦ ФИЛЬТР ДЛЯ ВХОДНЫХ ДВЕРЕЙ-->

<!--НАЧАЛО ФИЛЬТР ДЛЯ МЕЖКОМНАТНЫХ ДВЕРЕЙ-->
    {% if  category == 3 %}
    {% include 'doors/filters/filter_woods.html' %}
    {% endif %}
<!--КОНЕЦ ФИЛЬТР ДЛЯ МЕЖКОМНАТНЫХ ДВЕРЕЙ-->

<!--НАЧАЛО ФИЛЬТР ДЛЯ СКЛАДНЫХ ДВЕРЕЙ-->
    {% if  category == 198 %}
    {% include 'doors/filters/filter_skladn_doors.html' %}
    {% endif %}
<!--КОНЕЦ ФИЛЬТР ДЛЯ СКЛАДНЫХ ДВЕРЕЙ-->

<!--НАЧАЛО ФИЛЬТР ДЛЯ СКРЫТЫХ ДВЕРЕЙ-->
    {% if  category == 574 %}
    {% include 'doors/filters/filter_skritih.html' %}
    {% endif %}
<!--КОНЕЦ ФИЛЬТР ДЛЯ СКРЫТЫХ ДВЕРЕЙ-->

<!--НАЧАЛО ФИЛЬТР ДЛЯ СПЕЦИАЛЬНЫХ ДВЕРЕЙ-->
    {% if  category == 300 %}
    {% include 'doors/filters/filter_spec_doors.html' %}
    {% endif %}
<!--КОНЕЦ ФИЛЬТР ДЛЯ СПЕЦИАЛЬНЫХ ДВЕРЕЙ-->

<!--НАЧАЛО ФИЛЬТР ДЛЯ АРОК И ПОРТАЛОВ-->
    {% if  category == 38 %}
    {% include 'doors/filters/filter_arki_portal.html' %}
    {% endif %}
<!--КОНЕЦ ФИЛЬТР ДЛЯ АРОК И ПОРТАЛОВ-->

<!--НАЧАЛО ФИЛЬТР ДЛЯ ПЛИНТУСОВ-->
    {% if  category == 451 %}
    {% include 'doors/filters/filter_plintus.html' %}
    {% endif %}
<!--КОНЕЦ ФИЛЬТР ДЛЯ ПЛИНТУСОВ-->

<!--НАЧАЛО ФИЛЬТР ДЛЯ ДЕКО РЕЙКА-->
    {% if  category == 543 %}
    {% include 'doors/filters/filter_dekoreika.html' %}
    {% endif %}
<!--КОНЕЦ ФИЛЬТР ДЛЯ ДЕКО РЕЙКА-->

<!--НАЧАЛО ФИЛЬТР ДЛЯ ФУРНИТУРЫ-->
    {% if  category == 106 %}
    {% include 'doors/filters/filter_furnitura.html' %}
    {% endif %}
<!--КОНЕЦ ФИЛЬТР ДЛЯ ФУРНИТУРЫ-->

<!--НАЧАЛО ФИЛЬТР ДЛЯ ФУРНИТУРЫ-->
    {% if  category == 56 %}
    {% include 'doors/filters/filter_montazh.html' %}
    {% endif %}
<!--КОНЕЦ ФИЛЬТР ДЛЯ ФУРНИТУРЫ-->


<!--КАРУСЕЛЬ НАЧАЛО-->
<!--<div id="carouselExample" class="carousel slide">-->
<!--  <div class="carousel-inner">-->
<!--    <div class="carousel-item active">-->
<!--      <img src="{% static 'carusel_1.jpg' %}" id="12qw" class="d-block w-100" alt="no image">-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="{% static '800x600.png' %}" class="d-block w-100" alt="no image">-->
<!--    </div>-->
<!--    <div class="carousel-item">-->
<!--      <img src="{% static 'carusel_1.jpg' %}" class="d-block w-100" alt="no image">-->
<!--    </div>-->
<!--  </div>-->
<!--  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">-->
<!--    <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Previous</span>-->
<!--  </button>-->
<!--  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">-->
<!--    <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--    <span class="visually-hidden">Next</span>-->
<!--  </button>-->
<!--</div>-->
<!--КАРУСЕЛЬ КОНЕЦ-->

<!--НАЧАЛО КАРТОЧКИ ТОВАРА БЕЗ СТИЛЕЙ-->
<div class="top-name-cetegory">
     {% if name_category_top %}
        {% for x in name_category_top %} {{x}} {% endfor %}
    {% endif %}
</div>
<!--<div class="card-all">-->
<!--    {% for object in obj %}-->
<!--        <div class="cardc-top">-->
<!--            <div class="cardc-name">-->
<!--                <a href="{% url 'doors:detail_card' object.id  %}">{{object.title}}</a>-->
<!--            </div>-->
<!--                {% for c in color %}-->
<!--                {% if c.id == object.color_id %}-->
<!--            <div class="cardc-color">{{c.title}}</div>-->
<!--                {% endif %}-->
<!--                {% endfor %}-->
<!--            <div class="cardc-image">-->
<!--                {% for value in object.pictures %}-->
<!--                    <img src="{{ value.small }}" class="image_index">-->
<!--                {% endfor %}-->
<!--            </div>-->
<!--            <div class="cardc-price">-->
<!--                <div class="price">{{object.price}}</div>-->
<!--                <div class="ikon"><i class="fa-solid fa-ruble-sign"></i></div>-->
<!--            </div>-->
<!--        </div>-->
<!--        {% endfor %}-->
<!--</div>-->

<!--КОНЕЦ КАРТОЧКИ ТОВАРА БЕЗ СТИЛЕЙ-->


<!--НАЧАЛО СПИСОК КАРТОЧКИ ТОВАРОВ-->

<div class="kard-all">
    {% for x in obj %}
        <div class="kard">
            <div class="kard-name"><a href="{% url 'doors:detail_card' x.id %}">{{x.title}}</a></div>
            {% for c in color %}
                {% if c.id == x.color_id %}
                <div class="kard-color">{{c.title}}</div>
                {% endif %}
            {% endfor %}
            <div class="kard-image">
            {% for i in x.pictures %}
                <img src="{{i.small}}" alt="">
            {%  endfor %}
                </div>
            <div class="kard-group-price">
                <div class="kard-price">{{x.price}}</div>
                <div class="ikon"><i class="fa-solid fa-ruble-sign"></i></div>
            </div>
        </div>
    {% endfor %}
</div>

<!--КОНЕЦ СПИСКА КАРТОЧКИ ТОВАРОВ-->


{% endblock %}
